body {
  background-color: #1b1c1d;
  color:white;
}

.project-segment > h3 {
  margin-top:14px;
}

.menu{
  height:50px;
  margin-bottom:0 !important;
  border-bottom: 1px solid rgba(255,255,255,.08) !important;
}

.ui.inverted.menu {
  border: 0 solid transparent;
  background: rgb(255,255,255, .1);
  box-shadow: none;
  position:sticky !important;
  z-index: 100 !important;
  top:0px;
}

.ui.menu .dropdown.item .menu {
  background-color: #1b1c1d;
}

.ui.menu .ui.dropdown .menu>.item {
  color:white !important;
}

.ui.container {
  margin:0 !important;
}

.no-margin {
  margin:0 !important;
}

.about-visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height:70vh;
  color:white;
  width:100vw;
  background-color:rgb(27,28,29, 90%);
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.about-hidden {
  height:100vh;
  background-image: url('https://i.imgur.com/9l1PKOx.jpg');
  background-position: center;
  background-origin: content-box;
  background-size: cover;
}

.about-hidden-2 {
  height:calc(25vh - 50px);
  background-image: url('https://i.imgur.com/9l1PKOx.jpg');
  background-position: 10% 21%;
  background-origin: content-box;
  background-size: cover;
}

.projects-visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height:50vh;
  color:white;
  width:100vw;
  background-color:rgb(27,28,29, 90%);
  border-bottom: 1px solid rgba(255,255,255,.2);
  border-right: 1px solid rgba(255,255,255,.2);
}

.projects-hidden {
  height:50vh;
  width:50vw;
  background-image: url('https://i.imgur.com/qTs3uOf.png');
  background-position: top-left;
  background-origin: content-box;
  background-size: 200%;
}



.projects-hidden-2 {
  height:calc(25vh - 12.5px);
  background-image: url('https://i.imgur.com/qTs3uOf.png');
  background-position: top-left;
  background-origin: content-box;
  background-size: cover;
}

.experience-visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height:50vh;
  color:white;
  width:100vw;
  background-color:rgb(27,28,29, 90%);
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.experience-hidden {
  height:50vh;
  background-image: url('https://i.imgur.com/ddJmNUy.png');
  background-position: center;
  background-origin: content-box;
  background-size: cover;
}

.experience-hidden-2 {
  height:calc(25vh - 50px);
  background-image: url('https://i.imgur.com/ddJmNUy.png');
  background-position: center;
  background-origin: content-box;
  background-size: cover;
}

.hobbies-visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height:90vh;
  color:white;
  width:100vw;
  background-color:rgb(27,28,29, 90%);
}

.hobbies-visible-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height:calc(25vh - 50px);
  color:white;
  width:25vw;
  background-color:rgb(27,28,29, 90%);
}

.woodworking {
  height:45vh;
  background-image: url('https://64.media.tumblr.com/565f0c1658891080bb347852608bb967/tumblr_ngynpe0I1J1sdomyio1_1280.jpg');
  background-position: top;
  background-origin: content-box;
  background-size: cover;
}

.surfing {
  height:45vh;
  background-image: url('https://i.imgur.com/Bt5Qmdk.png');
  background-position: center;
  background-origin: content-box;
  background-size: 150%;
}

.cycling {
  height:45vh;
  background-image: url('https://i.imgur.com/aefwZQF.jpg');
  background-position: center;
  background-origin: content-box;
  background-size: cover;
}

.hiking {
  height:45vh;
  background-image: url('https://i.imgur.com/NgQQ7dMh.jpg');
  background-position: center;
  background-origin: content-box;
  background-size: cover;
}

.hiking-2 {
  background-image: url('https://i.imgur.com/NgQQ7dMh.jpg');
  background-position: center;
  background-origin: content-box;
  background-size: cover;
}

.hidden-image {
  height:calc(25vh - 12.5px);
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height:calc(25vh - 12.5px);
  color:white;
  width:100vw;
  background-color:rgb(27,28,29, 90%);
}

.row {
  padding:0 !important;
}

.column {
  padding:0 !important;
}

.grid {
  margin:0 !important;
}

.job-segment {
  padding-top:10px !important;
  padding-bottom:10px !important;
}

.project-segment {
  padding-left:0 !important;
  padding-right:0 !important;
}

.exper-horiz-div {
  margin-bottom:0 !important;
}

.proj-horiz-div {
  padding-top:14px;
  margin-bottom:0 !important;
}

div.btn-segment {
  margin-bottom:0px !important;
  padding-bottom:20px !important;
  padding-top:8px !important;
}

small {
  display:block;
}

@media screen and (min-width: 720px){

  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:calc(100vh - 50px);
    color:white;
    width:25vw;
    background-color:rgb(27,28,29, 90%);
  }

  .about-hidden {
    background-position: 10% 21%;
  }

  .hidden-image {
    height:calc(100vh - 50px);
  }

  .about-hidden-2 {
    background-position: center;
  }

  .projects-visible {
    width:50vw;
  }

  .projects-hidden {
    background-image: url('https://i.imgur.com/qTs3uOf.png');
    background-position: top;
    background-origin: content-box;
    background-size: cover;
  }

  .experience-visible {
    width:50vw;
  }

  .project-segment {
    padding-left:1rem !important;
    padding-right:1rem !important;
  }

  .about-container {
    padding: 0 30px !important;
  }

  .about-header {
    padding-bottom: 8px !important;
  }

  .about-header > h1 {
    font-size:4rem !important;
    margin:0 !important;
    padding:0 !important;
    line-height:4rem;
  }

  .btn-segment{
    margin-bottom:0 !important;
    padding-bottom:1rem !important;
    padding-top:2rem !important;
  }

  .hobbies-visible {
    height:45vh;
  }

}